<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <h1>HIhii</h1>

        <script>
            var socket = io("http://localhost/", {});

            socket.emit("send-posts", "data");
            socket.on("receive-posts", (data) => {
                console.log(data);
            });
        </script>
    </body>
</html>
